fastapi
uvicorn[standard]

ollama

langchain
langchain-community
langchain-core
langgraph

langchain-qdrant

qdrant-client

sentence-transformers

pypdf

arxiv

requests

python-dotenv

pydantic

numpy

tiktoken